.card {
    border: 1px solid #eeeff2;
    box-shadow: rgba(0, 0, 0, 0.03) 1px 1px 1px 1px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: .4em;
    margin-top: 1em;
    min-height: 4.9em;
    min-width: 7em;
    background-color: #ffffff;
    padding: 12px 9px 9px 18px
}

/* for webkitt browsers to add ellipsis after two line  if we have to open it and read it fulll then we had done it with javascript */
.cardtext {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 2.7em;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;


}

.header {
    font-weight: 600;
    color: #9b9c9e;
}